
<div class="col-md-4 col-sm-12">
    <canvas id="myChart" width="800" height="800" style="display: block; width: 800px; height: 800px;"
        class="chartjs-render-monitor"></canvas>

    <main role="main" class="inner cover">
        <main role="main" class="inner cover">
            <div class="chartjs-size-monitor">
                <div class="chart-size-monitor-expand">
                    <div class></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class></div>
                </div>
            </div>
        </main>
        <main role="main" class="inner cover">
            <main role="main" class="inner cover">
                <div class="chartjs-size-monitor">
                    <div class="chart-size-monitor-expand">
                        <div class></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class></div>
                    </div>
                </div>
            </main>
        </main>

</div>
<h1 id="total"></h1>
<!-- Loop over each object in the projects array -->
{{#each expensesArray as |expense| }}
  <div class="expense card col-mb-4 expense d-inline-flex p-2" style="width: 25rem; ">
        <div class="transbox">
        <div class="col-md-6 card-title">
            <h2>
                <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                {{expense.name}}
            </h2>
        </div>
        <div class="card-text">
            <p><span for="img" aria-label="money">💲</span>
                <!-- Pass needed_funding value to the helper function -->
                <span class="dollar-amount">{{expense.amount}}</span>
            </p>
            <p>Category: {{category.name}}</p>
        </div>
        <div class="col-md-7 card-text">
            <p>Description: {{#if expense.description}}
            {{expense.description}}
            {{else}}
            N/A
            {{/if}}
            </p>

        </div>
        </div>
</div>
        {{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="script.js"></script>
<script src="/js/chart.js"></script>